*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
}
.swiper-button-next {
    width: 17px;
    height: 35px;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    background-size: contain;
}
.btn {
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 2px solid #292929;
    text-align: center;
    line-height: 28px;
    cursor: pointer;
    transform: rotateZ(0deg);
    animation: mp3key 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: running;
}
@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.btn img {
    width: 10px;
}
/*
        第一页样式
*/
.s1{
    background: url("../img/bg5.png");
    background-size: cover;
    height: 100%;
    position: relative;
}
.s1 .top p:nth-of-type(1){
    color: #e69dc6;
    font-size: 29px;
    top: 8%;
    position: absolute;
    left: 30%;
}
.s1 .top img:nth-of-type(1){
    width: 55%;
    top: 37%;
    position: absolute;
    left: 105%;

}
.s1 .top p:nth-of-type(2){
    color: #9ec3ea;
    font-size: 18px;
    position: absolute;
    top: 14%;
    left: 44%;
}
.s1 .top p:nth-of-type(2) img{
    width: 123%;
    height: 4px;
    position: absolute;
    left: -129%;
}

.s1 .main img:nth-of-type(1){
    position: absolute;
    width: 80%;
    left: 37px;
    top: 24%;
}
.s1 .main p:nth-of-type(1){
    top: 26%;
    left: 36%;
    color: #fff;
    position: absolute;
}
.s1 .main p:nth-of-type(2){
    position: absolute;
    top: 30%;
    left: 29%;
    color: #fff;
}
.s1 .main h1{
    position: absolute;
    top: 37%;
    left: 36%;
    color: #fff;
}
.s1 .main p:nth-of-type(3){
    position: absolute;
    top: 46%;
    left: 39%;
    color: #fff;
    font-size: 20px;

}
.s1 .main img:nth-of-type(2){
    position: absolute;
    bottom: 43%;
    right: 42.5%;
    width: 14%;
}
.footer p:nth-of-type(1){
    border: 3px solid #a0c5ea;
    width: 50%;
    position: absolute;
    bottom: 24%;
    left: 25%;
    color: #a0c5ea;
}
.footer p:nth-of-type(2){
    font-size: 15px;
    position: absolute;
    bottom: 16%;
    left: 25%;
    color: #c2c2c2;
    width: 50%;
}
/*
    第二屏
*/
.s2{
    background: url("../img/bg2.png");
    height: 100%;
    position: relative;
    background-size: cover;
}
.s2 .top p:nth-of-type(1){
    color: #e69dc6;
    font-size: 29px;
    top: 8%;
    position: absolute;
    left: 30%;
}
.s2 .top img:nth-of-type(1){
    width: 55%;
    top: 37%;
    position: absolute;
    left: 105%;

}
.s2 .top p:nth-of-type(2){
    color: #9ec3ea;
    font-size: 18px;
    position: absolute;
    top: 14%;
    left: 44%;
}
.s2 .top p:nth-of-type(2) img:nth-of-type(1){
    width: 123%;
    height: 4px;
    position: absolute;
    left: -129%;
}
.s2 .top p:nth-of-type(1) img:nth-of-type(2){
    position: absolute;
    width: 18%;
    height: 10%;
    top: 44%;
    left: -23%;
}
.s2 .top p:nth-of-type(2) img:nth-of-type(2){
    position: absolute;
    width: 23%;
    height: 12%;
    right: -35%;
    top: 41%;
}
.s2 .main {
    border: solid 5px #eda3cc;
    width: 80%;
    position: absolute;
    bottom: 22%;
    left: 10%;
    height: 55%;
}
.s2 .main p:nth-of-type(1){
    color: #88b6e5;
    position: absolute;
    top: 6%;
    left: 15%;
}
.s2 .main h3{
    color: #eda3cc;
    position: absolute;
    top: 14%;
    left: 22%;
    border-bottom: 2px solid;
}
.s2 .main p:nth-of-type(2){
    color: #88b6e5;
    border: 2px solid;
    width: 31%;
    position: absolute;
    top: 26%;
    left: 32%;
}
.s2 .main p:nth-of-type(3){
    color: #88b6e5;
    border: 2px solid;
    width: 38%;
    position: absolute;
    top: 40%;
    left: 28%;
}
.s2 .main p:nth-of-type(4){
    color: #88b6e5;
    border: 2px solid;
    width: 48%;
    position: absolute;
    top: 54%;
    left: 23%;
}
.s2 .main p:nth-of-type(5){
    font-size: 12px;
    position: absolute;
    bottom: 0%;
    color: #88b6e5;
    padding-bottom: 20px;
    width: 80%;
    left: 10%;

}
/*
    第三屏
*/

.s3{
    background: url("../img/bg2.png");
    height: 100%;
    position: relative;
    background-size: cover;
}
.s3 .top p:nth-of-type(1){
    color: #e69dc6;
    font-size: 29px;
    top: 8%;
    position: absolute;
    left: 30%;
}
.s3 .top img:nth-of-type(1){
    width: 55%;
    top: 37%;
    position: absolute;
    left: 105%;

}
.s3 .top p:nth-of-type(2){
    color: #9ec3ea;
    font-size: 18px;
    position: absolute;
    top: 14%;
    left: 44%;
}
.s3 .top p:nth-of-type(2) img:nth-of-type(1){
    width: 123%;
    height: 4px;
    position: absolute;
    left: -129%;
}
.s3 .top p:nth-of-type(1) img:nth-of-type(2){
    position: absolute;
    width: 18%;
    height: 10%;
    top: 44%;
    left: -23%;
}
.s3 .top p:nth-of-type(2) img:nth-of-type(2){
    position: absolute;
    width: 23%;
    height: 12%;
    right: -35%;
    top: 41%;
}
.s3 .div1 .text{
    border: 3px solid #88b6e5;
    position: absolute;
    width: 60%;
    top: 22%;
    font-size: 14px;
    right: 6%;
}
.s3 .div1 .text p{
    position: relative;
    width: 80%;
    left: 20%;
    color: #88b6e5;
}
.s3 .div1 img{
    width: 40%;
    position: absolute;
    top: 33%;
    left: 3%;
    transform: rotate(-30deg);
}
.s3 .div2 .text2{
    border: 3px solid #e69dc6;
    position: absolute;
    width: 60%;
    top: 61%;
    font-size: 14px;
    left: 6%;
}
.s3 .div2 .text2 p{
    position: relative;
    width: 85%;
    left: 10%;
    color: #e69dc6;
}
.s3 .div2 img{
    width: 40%;
    position: absolute;
    top: 69%;
    right: 6%;
    transform: rotate(21deg);
}
/*
    第四屏
*/
.s4{
    background: url("../img/bg1.png");
    height: 100%;
    position: relative;
    background-size: cover;
}
.s4 .top p:nth-of-type(1){
    color: #e69dc6;
    font-size: 29px;
    top: 8%;
    position: absolute;
    left: 30%;
}
.s4 .top img:nth-of-type(1){
    width: 55%;
    top: 37%;
    position: absolute;
    left: 105%;

}
.s4 .top p:nth-of-type(2){
    color: #9ec3ea;
    font-size: 18px;
    position: absolute;
    top: 14%;
    left: 44%;
}
.s4 .top p:nth-of-type(2) img:nth-of-type(1){
    width: 123%;
    height: 4px;
    position: absolute;
    left: -129%;
}
.s4 .top p:nth-of-type(1) img:nth-of-type(2){
    position: absolute;
    width: 18%;
    height: 10%;
    top: 44%;
    left: -23%;
}
.s4 .top p:nth-of-type(2) img:nth-of-type(2){
    position: absolute;
    width: 23%;
    height: 12%;
    right: -35%;
    top: 41%;
}
.s4 .div1 img:nth-of-type(1){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 25%;
}
.s4 .div1 img:nth-of-type(2){
    position: absolute;
    height: 66%;
    left: 23%;
    top: 20%;
}
.s4 .div1 img:nth-of-type(3){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 34%;
}
.s4 .div1 img:nth-of-type(4){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 44%;
}
.s4 .div1 img:nth-of-type(5){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 54%;
}
.s4 .div1 img:nth-of-type(6){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 64%;
}
.s4 .div1 img:nth-of-type(7){
    position: absolute;
    left: 79px;
    width: 4%;
    top: 74%;
}
.s4 .div1 img:nth-of-type(8){
    position: absolute;
    bottom: 2%;
    right: 25%;
}
.s4 .div1 p:nth-of-type(1){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 24.8%;
}
.s4 .div1 p:nth-of-type(2){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 33.6%;
}
.s4 .div1 p:nth-of-type(3){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 43.6%;
}
.s4 .div1 p:nth-of-type(4){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 53.6%;
}
.s4 .div1 p:nth-of-type(5){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 63.6%;
}
.s4 .div1 p:nth-of-type(6){
    font-size: 14px;
    position: absolute;
    left: 31%;
    top: 73.6%;
}
/*
    第五屏
*/
.s5{
    background: url("../img/bg5.png");
    height: 100%;
    position: relative;
    background-size: cover;
}
.s5 .top p:nth-of-type(1){
    color: #e69dc6;
    font-size: 29px;
    top: 8%;
    position: absolute;
    left: 30%;
}
.s5 .top img:nth-of-type(1){
    width: 55%;
    top: 37%;
    position: absolute;
    left: 105%;

}
.s5 .top p:nth-of-type(2){
    color: #9ec3ea;
    font-size: 18px;
    position: absolute;
    top: 14%;
    left: 44%;
}
.s5 .top p:nth-of-type(2) img:nth-of-type(1){
    width: 123%;
    height: 4px;
    position: absolute;
    left: -129%;
}
.s5 .top p:nth-of-type(1) img:nth-of-type(2){
    position: absolute;
    width: 18%;
    height: 10%;
    top: 44%;
    left: -23%;
}
.s5 .top p:nth-of-type(2) img:nth-of-type(2){
    position: absolute;
    width: 23%;
    height: 12%;
    right: -35%;
    top: 41%;
}
.s5 .div1{
    border: 1px solid #88b6e5;
}
.s5 .div1 img{
    position: absolute;
    left: 9%;
    top: 27%;
}
.s5 .div1 p:nth-of-type(1){
    position: absolute;
    bottom: 26%;
    font-size: 14px;
    left: 10%;
}
.s5 .div1 p:nth-of-type(2){
    position: absolute;
    bottom: 23%;
    font-size: 14px;
    left: 10%;
}
.s5 .div1 p:nth-of-type(3){
    position: absolute;
    bottom: 20%;
    font-size: 14px;
    left: 10%;
}
.s5 .div1 p:nth-of-type(4){
    position: absolute;
    bottom: 0%;
    font-size: 16px;
    right: 0%;
}