*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */

}
.swiper-button-next {
    width: 17px;
    height: 35px;
    left: 50%;
    right: auto;
    top: auto;
    bottom: 5%;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    background-size: contain;
}
/*第一页样式*/
.s1,.s2,.s3,.s4,.s5,.s6,.s7{
    background: url("../img/bj.png");
    height: 100%;
    position: relative;
}
.s1 .header img:nth-of-type(1){
    width: 35px;
    position: absolute;
    top: 120px;
    left: 40px;
    animation:fadeOut infinite;
}
.s1 .header img:nth-of-type(2){
    width: 65px;
    position: absolute;
    top: 90px;
    right: 30px;
    animation:fadeOut infinite;
}
.s1 .header img:nth-of-type(3){
    width: 55px;
    position: absolute;
    bottom: 180px;
    left: 35px;
    animation:fadeOut infinite;
}
.s1 .header img:nth-of-type(4){
    width: 45px;
    position: absolute;
    bottom: 210px;
    right: 45px;
    animation:fadeOut infinite;
}
.s1 .header img:nth-of-type(5){
    width: 70%;
    position: absolute;
    top: 165px;
    left: 15%;
    /*animation: flipInX infinite;*/
}
/* main */
.s1 .main{
    top: 200px;
    position: absolute;

}
.s1 .main img:nth-of-type(1){

    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 75%;
    margin-bottom: 20px;
}
.main .p{
    background-image: url("../img/9.png");
    background-size: contain;/*把图像图像扩展至最大尺寸，以使其宽度和高度完全适应内容区域。*/
    width: 206px;
    height: 24px;
    font-weight: bolder;
    line-height: 25px;
    margin: auto;
}
/* footer*/

.footer{
    position: absolute;
    bottom: 0;
    color: #00d7b2;
    width: 100%;
}
.footer p:nth-of-type(2){
    margin-bottom: 35px;
}
.footer p:nth-of-type(3){
    height: 70px;
}
.footer img{
    height: 70px;
    position: absolute;
}
.s1 .footer img:nth-of-type(1) {
    left: 0;
}

.s1 .footer img:nth-of-type(2) {
    left: -95px;
}
.s2 h2{
    color: #00fad3;
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s2 h2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s2 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s2 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s2 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}

.s2 div img {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.s2 div p {
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: #03ebc4;
}

.s2 div p:nth-of-type(1) {
    padding-top: 20px;
}

.s2 div span {
    /*渐变色*/
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);


    width: 120px;
    height: 25px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    display: inline-block;
    position: absolute;
    bottom: -3%;
    left: 50%;
    margin-left: -60px;
}
.s2 .footer{
    position: absolute;
    bottom: 0;
    color: #00d7b2;
    width: 100%;
    top: 87%;
}
.s2 .footer p:nth-of-type(1){
    margin-bottom: 35px;
}
.s2 .footer p:nth-of-type(2){
    height: 70px;
}
.s2 .footer img{
    height: 70px;
    position: absolute;
}
.s2 .footer img:nth-of-type(1) {
    left: 0;
}

.s2 .footer img:nth-of-type(2) {
    left: -23%;
}
.btn{
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    width: 30px;
    height: 31px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border: 2px solid #292929;
    text-align: center;
    line-height: 28px;
    cursor: pointer;/*抓手*/
    transform: rotateZ(0deg);/*从0开始*/
    animation: mp3key 4s;/*动画执行的时间*/
    /*一直执行*/
    animation-iteration-count: infinite;
    /*匀速执行*/
    animation-timing-function:linear;
    /*默认运行动画*/
    animation-play-state:running;
}

@keyframes mp3key {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.btn img {
    width: 10px;
}


/*第三页样式*/
.s3 h2{
    color: #00fad3;
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s3 h2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s3 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s3 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s3 .garden1 {
    border-radius: 360px;
    border: 1px solid #02828f;
    position: absolute;
    width: 310px;
    height: 310px;
    top: 26%;
    left: 9%;
}
.s3 .garden2 {
    border-radius: 360px;
    border: 1px solid #02828f;
    position: absolute;
    width: 280px;
    height: 280px;
    top: 4%;
    left: 5%;
}
.s3 .garden3 {
    border-radius: 360px;
    border: 1px solid #02828f;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 5%;
    left: 5%;
}
.s3 .garden4 {
    border-radius: 360px;
    border: 1px solid #02828f;
    width: 220px;
    height: 220px;
    position: absolute;
    top: 6%;
    left: 6%;
}
.s3 .garden3 .p1{
    background: radial-gradient(#00001b,#046a79);
    width: 150px;
    height: 150px;
    border-radius: 360px;
    top: 17%;
    left: 15%;
    position: absolute;
}
.s3 .garden3 .p1 p{
    top: 40%;
    left: 23%;
    position: absolute;
    font-size: 22px;
    color: #31fcba;
    font-weight: bold;
    animation:bounceIn infinite;
}
.s3 .p2{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    top: 28%;
    left: 24%;
    position: absolute;
}
.s3 .p2 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 27%;
    left: 21%;
    animation:bounceOut infinite;
}
.s3 .p3{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    top: 28%;
    right: 24%;
    position: absolute;
}
.s3 .p3 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 27%;
    left: 21%;
    animation:bounceOut infinite;
}
.s3 .p4{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    top: 44%;
    left: 7%;
    position: absolute;
}
.s3 .p4 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 28%;
    left: 20%;
    animation:bounceOut infinite;
}
.s3 .p5{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    top: 44%;
    right: 7%;
    position: absolute;
}
.s3 .p5 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 17px;
    left: 12px;
    animation:bounceOut infinite;
}
.s3 .p6{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    bottom: 29%;
    left: 24%;
    position: absolute;
}
.s3 .p6 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 29%;
    left: 20%;
    animation:bounceOut infinite;
}
.s3 .p7{
    border-radius: 360px;
    background: radial-gradient(#00001b,#046a79);
    width: 60px;
    height: 60px;
    bottom: 29%;
    right: 24%;
    position: absolute;
}
.s3 .p7 p{
    color: #31fcba;
    /*font-weight: bold;*/
    position: absolute;
    top: 29%;
    left: 20%;
    animation:bounceOut infinite;
}
.s3 .footer .xian{
    border-left:3px solid #31f2ba;
    height: 30px;
    position: absolute;
    left: 15%;
}
.s3 .footer p{
    margin-bottom: 108px;
    width: 255px;
    font-size: 12px;
    margin-left: 60px;
}
.s3 .bottom{
    position: absolute;

    color: #00d7b2;
    width: 100%;
    bottom: 5%;
}
.s3 .bottom p:nth-of-type(1){
    margin-bottom: 35px;
}
.s3 .bottom p:nth-of-type(2){
    height: 70px;
}
.s3 .bottom img{
    height: 70px;
    position: absolute;
}
.s3 .bottom img:nth-of-type(1) {
    left: 0;
}

.s3 .bottom img:nth-of-type(2) {
    left: -23%;
}

/*第四屏*/
.s4 h2{
    color: #00fad3;
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s4 h2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s4 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s4 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}
.s4 div {
    position: absolute;
    top: 25%;
    width: 80%;
    height: 55%;
    left: 50%;
    margin-left: -40%;

}
.s4 div img:nth-of-type(1) {
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0%;
}
.s4 div  .dian{
    border: 1px solid #36ffb4;
    width: 14px;
    height: 14px;
    background: #36ffb4;
    border-radius: 360px;
    top: 3.5%;
    left: 56%;

}
.s4 div p:nth-of-type(1){
    color: #36ffb4;
    left: 24%;
    top: 2%;
    position: absolute;
    /*animation:flash infinite;*/
}
.s4 div  .dian2{
    border: 1px solid #36ffb4;
    width: 14px;
    height: 14px;
    background: #14b8ff;
    border-radius: 360px;
    top: 3.5%;
   left: 97%;
}
.s4 div p:nth-of-type(2){
    color: #14b8ff;
    right: 16%;
    top: 2%;
    position: absolute;
    /*animation:flash infinite;*/
}
.s4 div .tubiao {
    top: 16%;
}
.s4 div .tubiao p:nth-of-type(1){
    font-size: 14px;
    top: 0%;
    left: 0%;
    color: #09dfbd;
}
.s4 div .tubiao p span{
    color: #fff;
}
.s4 div .tubiao img:nth-of-type(1){
    width: 19px;
    height: 22px;
    left: -13%;
}
.s4 div .tubiao img:nth-of-type(2){
    top: 11%;
    right: 12%;
    position: absolute;
    width: 220px;
    height: 14px;
}
.s4 div .tubiao img:nth-of-type(3){
    width: 128px;
    top: 21%;
    left: -10%;
    position: absolute;
}
.s4 div .tubiao p:nth-of-type(2){
    right: -4%;
    top: 10%;
    font-size: 14px;
}
.s4 div .tubiao p:nth-of-type(3){
    right: 36%;
    top: 20%;
    font-size: 14px;
    color: #14b8ff;
    position: absolute;
}
.s4 div .tubiao2 {
    top: 30%;
}
.s4 div .tubiao2 p:nth-of-type(1){
    font-size: 14px;
    top: 14%;
    left: 0%;
    color: #09dfbd;
}
.s4 div .tubiao2 p span{
    color: #fff;
}
.s4 div .tubiao2 img:nth-of-type(1){
    width: 19px;
    height: 22px;
    left: -13%;
    top: 14%;
}

.s4 div .tubiao2 img:nth-of-type(2){
    top: 25%;
    right: 22%;
    position: absolute;
    width: 200px;
    height: 14px;
}

.s4 div .tubiao2 p:nth-of-type(2){
    right: 0%;
    top: 24%;
    font-size: 14px;
}
.s4 div .tubiao2 img:nth-of-type(3){
     width: 128px;
     top: 35%;
     left: -10%;
     position: absolute;
 }
.s4 div .tubiao2 p:nth-of-type(3){
    right: 36%;
    top: 33%;
    font-size: 14px;
    color: #14b8ff;
    position: absolute;
}




.s4 div .tubiao3 {
    top: 51%;
}
.s4 div .tubiao3 p:nth-of-type(1){
    font-size: 14px;
    top: 14%;
    left: 0%;
    color: #09dfbd;
}
.s4 div .tubiao3 p span{
    color: #fff;
}
.s4 div .tubiao3 img:nth-of-type(1){
    width: 19px;
    height: 22px;
    left: -13%;
    top: 14%;
}

.s4 div .tubiao3 img:nth-of-type(2){
    top: 25%;
    right: 31%;
    position: absolute;
    width: 180px;
    height: 14px;
}

.s4 div .tubiao3 p:nth-of-type(2){
    right: 0%;
    top: 24%;
    font-size: 14px;
}
.s4 div .tubiao3 img:nth-of-type(3){
    width: 128px;
    top: 35%;
    left: -10%;
    position: absolute;
}
.s4 div .tubiao3 p:nth-of-type(3){
    right: 36%;
    top: 33%;
    font-size: 14px;
    color: #14b8ff;
    position: absolute;
}
.s4 div .text{
    top: 77%;
    /*width: 280px;*/
    /*left: 70px;*/
}
.s4 div .text p{
    width: 260px;
    left: -5%;
    font-size: 14px;
    top: 10%;
}
/*
    第五屏
*/

.s5 h2{
    color: #00fad3;
    font-size: 26px;
    position: relative;
    top: 12%;
}
.s5 h2 small{
    margin-top: 10px;
    display: block;
    font-size: 14px;
    letter-spacing: 5px;
}
.s5 h2::before,
.s5 h2::after {
    content: "";
    width: 80px;
    height: 20px;
    display: inline-block;
    position: absolute;
}

.s5 h2::before {
    background: url(../img/14.png);
    background-size: contain;
    margin-left: -95px;
    margin-top: 10px;
}

.s5 h2::after {
    background: url(../img/13.png);
    background-size: contain;
    margin-left: 66px;
    margin-top: 10px;
    top: 0;
}

.s5 .div1 img{
    width: 34%;
    left: 12%;
    top: 25%;
    position: absolute;
}
.s5 .div1 p{
    color: #00fad3;
    font-size: 13px;
    top: 42%;
    left: 17%;
    position: absolute;
}
.s5 .div1 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 15%;
}
.s5 .div2 img{
    width: 34%;
    right: 12%;
    top: 25%;
    position: absolute;
}
.s5 .div2 p{
    color: #00fad3;
    font-size: 13px;
    top: 42%;
    right: 17%;
    position: absolute;
}
.s5 .div2 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 15%;
}
.s5 .div3 img{
    width: 34%;
    left: 12%;
    top: 55%;
    position: absolute;
}
.s5 .div3 p{
    color: #00fad3;
    font-size: 13px;
    bottom: 25%;
    left: 17%;
    position: absolute;
}
.s5 .div3 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom: 21.5%;
    left: 15%;
}
.s5 .div4 img{
    width: 34%;
    right: 12%;
    top: 55%;
    position: absolute;
}
.s5 .div4 p{
    color: #00fad3;
    font-size: 13px;
    bottom: 25%;
    right: 17%;
    position: absolute;
}
.s5 .div4 span{
    background: -moz-linear-gradient(left, #00ecfc, #00fd9d);
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00ecfc), to(#00fd9d));
    background: -webkit-linear-gradient(left, #00ecfc, #00fd9d);
    background: -o-linear-gradient(left, #00ecfc, #00fd9d);
    width: 100px;
    height: 20px;
    border-radius: 10px;
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom: 21.5%;
    right: 15%;
}